PROMETHEUS_PORT=127.0.0.1:9090
GRAFANA_PORT=127.0.0.1:3002
GRAFANA_ROOT_URL=http://localhost:3002
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=
BLACKBOX_PORT=127.0.0.1:9115
NODE_EXPORTER_PORT=9100
