# Nextcloud with MariaDB + Redis
# Docs: https://hub.docker.com/_/nextcloud

TZ=Asia/Shanghai
NC_PORT=8080
NC_ADMIN_USER=admin
NC_ADMIN_PASSWORD=
NC_TRUSTED_DOMAINS=localhost

# MariaDB
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Redis
REDIS_PASSWORD=
